<%= form_for(@entity, :html => {:class => 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :employee, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :employee, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :handle, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :handle, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">

      <%= f.label :status, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-danger active">
            <%= f.radio_button :status, '0' %> Not ready
          </label>
          <label class="btn btn-warning">
            <%= f.radio_button :status, '1' %> In Progress
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :status, '2' %> Ready
          </label>
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'submit', :class => 'btn btn-success' %>
      </div>
    </div>
<% end %>
